.movieCard {
	position: relative;
	background-color: var(--cardgrey);
	border-radius: 12px;
	padding: 16px;
	display: flex;
	flex-direction: row;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid var(--lightgrey);
}

.movieCardTitle {
	margin: 0;
	padding: 12px;
	font-size: var(--font-size-2xl);
	color: var(--white);
}

.movieCardOverview {
	margin: 0;
	padding: 10px;
	color: var(--white);
	opacity: 0.8;
	font-size: var(--font-size-sm);
	flex: 1 1 auto;
}

.movieCardPoster {
	width: 35%;
	border-radius: 8px;
	object-fit: cover;
	margin-right: 8px;
}
.movieCardLink {
	text-decoration: none;
	color: inherit;
	height: 100%;
}
.movieCardPriceTag {
	font-size: var(--font-size-lg);
	color: var(--darkgold);
	align-self: flex-end;
	padding: 6px 12px;
}
.textSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
