.movieCardContainer {
	padding: 16px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	gap: 8px;
	align-items: start;
}
.flexContainer {
	display: flex;
	flex-direction: column;
	max-width: 90%;
	box-shadow: 2px 3px 15px rgba(225, 167, 79, 1);
	background-color: var(--cardgrey);
	border-radius: 12px;
}
.containerTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--darkgold);
	margin: 0px 20px;
	font-size: var(--font-size-lg);
	text-shadow: 0 2px 4px rgba(255, 209, 141, 0.4);
}

/* .containerTitle p {
	color: var(--white);
	text-shadow: none;
} */
.pageSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;
}
.pageSection button {
	height: 30px;
	width: 30px;
	border: none;
	background-color: var(--darkgold);
	border-radius: 50%;
	font-size: var(--font-size-lg);
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
}
.pageSection button:hover {
	box-shadow: 2px 3px 15px rgba(225, 167, 79, 0.9);
}
.pageIndicator {
	margin: 12px;
}
@media (max-width: 560px) {
	.movieCardContainer {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}
