.movieCard {
	position: relative;
	background-color: var(--cardgrey);
	border-radius: 12px;
	padding: 16px;
	display: flex;
	flex-direction: row;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid var(--lightgrey);
}

.movieCardTitle {
	margin: 0;
	padding: 12px;
	font-size: var(--font-size-2xl);
	color: var(--white);
}

.movieCardOverview {
	margin: 0;
	padding: 10px;
	color: var(--white);
	opacity: 0.8;
	font-size: var(--font-size-sm);
	flex: 1 1 auto;
	max-height: 150px;

	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.movieCardPoster {
	width: 35%;
	border-radius: 8px;
	object-fit: scale-down;
	align-self: flex-start;
	margin-right: 8px;
	margin-top: 8px;
}
.movieCardLink {
	text-decoration: none;
	color: inherit;
	height: 100%;
}
.movieCardPriceTag {
	font-size: var(--font-size-lg);
	color: var(--darkgold);
	align-self: flex-end;
	padding: 6px 12px;
}
.textSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
@media (max-width: 560px) {
	.movieCard {
		background-color: var(--cardgrey);
		border-radius: 12px;
		padding: 8px;
		display: flex;
		flex-direction: column;
		height: 100%;
		box-sizing: border-box;
		border: 2px solid var(--lightgrey);
	}

	.movieCardPoster {
		margin: 2px;
		margin-left: 12px;
	}

	.movieCardTitle {
		font-size: var(--font-size-xl);
	}

	.movieCardPriceTag {
		font-size: var(--font-size-lg);
		color: var(--darkgold);
		align-self: flex-end;
		padding: 2px 8px;
		margin: 0;
	}

	.movieCardOverview {
		max-height: 85px;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
