.movieCardContainer {
	padding: 16px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	gap: 8px;
	align-items: start;
}
.flexContainer {
	display: flex;
	flex-direction: column;
	max-width: 90%;
	box-shadow: 2px 3px 15px rgba(225, 167, 79, 1);
	background-color: var(--cardgrey);
	border-radius: 12px;
}
.containerTitle {
	color: var(--darkgold);
	margin-left: 20px;
	font-size: var(--font-size-lg);
	text-shadow: 0 2px 4px rgba(255, 209, 141, 0.4);
}
@media (max-width: 560px) {
	.movieCardContainer {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}
